@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
.dad .goalkeepers .card1, .dad .goalkeepers .card2, .dad .goalkeepers .card3, .dad .defenders .card4, .dad .defenders .card5, .dad .defenders .card6, .dad .defenders .card7, .dad .defenders .card8, .dad .defenders .card9, .dad .defenders .card10, .dad .defenders .card11, .dad .midfielders .card12, .dad .midfielders .card13, .dad .midfielders .card14, .dad .midfielders .card15, .dad .midfielders .card16, .dad .midfielders .card17, .dad .midfielders .card18, .dad .midfielders .card19, .dad .midfielders .card20, .dad .attackers .card21, .dad .attackers .card22, .dad .attackers .card23, .dad .attackers .card24, .dad .attackers .card25, .dad .attackers .card26, .dad .attackers .card27, .dad .attackers .card28 {
  width: 15em;
  height: 26em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background-image: url(./images/wer.jpg);
  background-size: cover;
}

.dad .goalkeepers .card1:hover, .dad .goalkeepers .card2:hover, .dad .goalkeepers .card3:hover, .dad .defenders .card4:hover, .dad .defenders .card5:hover, .dad .defenders .card6:hover, .dad .defenders .card7:hover, .dad .defenders .card8:hover, .dad .defenders .card9:hover, .dad .defenders .card10:hover, .dad .defenders .card11:hover, .dad .midfielders .card12:hover, .dad .midfielders .card13:hover, .dad .midfielders .card14:hover, .dad .midfielders .card15:hover, .dad .midfielders .card16:hover, .dad .midfielders .card17:hover, .dad .midfielders .card18:hover, .dad .midfielders .card19:hover, .dad .midfielders .card20:hover, .dad .attackers .card21:hover, .dad .attackers .card22:hover, .dad .attackers .card23:hover, .dad .attackers .card24:hover, .dad .attackers .card25:hover, .dad .attackers .card26:hover, .dad .attackers .card27:hover, .dad .attackers .card28:hover {
  -webkit-box-shadow: rgba(122, 122, 122, 0.12) 0px 2px 4px 0px, rgba(82, 82, 82, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(122, 122, 122, 0.12) 0px 2px 4px 0px, rgba(82, 82, 82, 0.32) 0px 2px 16px 0px;
}

.dad .goalkeepers .card1 #mainIMG, .dad .goalkeepers .card2 #mainIMG, .dad .goalkeepers .card3 #mainIMG, .dad .defenders .card4 #mainIMG, .dad .defenders .card5 #mainIMG, .dad .defenders .card6 #mainIMG, .dad .defenders .card7 #mainIMG, .dad .defenders .card8 #mainIMG, .dad .defenders .card9 #mainIMG, .dad .defenders .card10 #mainIMG, .dad .defenders .card11 #mainIMG, .dad .midfielders .card12 #mainIMG, .dad .midfielders .card13 #mainIMG, .dad .midfielders .card14 #mainIMG, .dad .midfielders .card15 #mainIMG, .dad .midfielders .card16 #mainIMG, .dad .midfielders .card17 #mainIMG, .dad .midfielders .card18 #mainIMG, .dad .midfielders .card19 #mainIMG, .dad .midfielders .card20 #mainIMG, .dad .attackers .card21 #mainIMG, .dad .attackers .card22 #mainIMG, .dad .attackers .card23 #mainIMG, .dad .attackers .card24 #mainIMG, .dad .attackers .card25 #mainIMG, .dad .attackers .card26 #mainIMG, .dad .attackers .card27 #mainIMG, .dad .attackers .card28 #mainIMG {
  width: 100%;
  position: absolute;
  top: 0.3em;
  left: 0.5em;
  z-index: 9;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.dad .goalkeepers .card1 #mainIMG:hover, .dad .goalkeepers .card2 #mainIMG:hover, .dad .goalkeepers .card3 #mainIMG:hover, .dad .defenders .card4 #mainIMG:hover, .dad .defenders .card5 #mainIMG:hover, .dad .defenders .card6 #mainIMG:hover, .dad .defenders .card7 #mainIMG:hover, .dad .defenders .card8 #mainIMG:hover, .dad .defenders .card9 #mainIMG:hover, .dad .defenders .card10 #mainIMG:hover, .dad .defenders .card11 #mainIMG:hover, .dad .midfielders .card12 #mainIMG:hover, .dad .midfielders .card13 #mainIMG:hover, .dad .midfielders .card14 #mainIMG:hover, .dad .midfielders .card15 #mainIMG:hover, .dad .midfielders .card16 #mainIMG:hover, .dad .midfielders .card17 #mainIMG:hover, .dad .midfielders .card18 #mainIMG:hover, .dad .midfielders .card19 #mainIMG:hover, .dad .midfielders .card20 #mainIMG:hover, .dad .attackers .card21 #mainIMG:hover, .dad .attackers .card22 #mainIMG:hover, .dad .attackers .card23 #mainIMG:hover, .dad .attackers .card24 #mainIMG:hover, .dad .attackers .card25 #mainIMG:hover, .dad .attackers .card26 #mainIMG:hover, .dad .attackers .card27 #mainIMG:hover, .dad .attackers .card28 #mainIMG:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.8;
}

.dad .goalkeepers .card1 .number, .dad .goalkeepers .card2 .number, .dad .goalkeepers .card3 .number, .dad .defenders .card4 .number, .dad .defenders .card5 .number, .dad .defenders .card6 .number, .dad .defenders .card7 .number, .dad .defenders .card8 .number, .dad .defenders .card9 .number, .dad .defenders .card10 .number, .dad .defenders .card11 .number, .dad .midfielders .card12 .number, .dad .midfielders .card13 .number, .dad .midfielders .card14 .number, .dad .midfielders .card15 .number, .dad .midfielders .card16 .number, .dad .midfielders .card17 .number, .dad .midfielders .card18 .number, .dad .midfielders .card19 .number, .dad .midfielders .card20 .number, .dad .attackers .card21 .number, .dad .attackers .card22 .number, .dad .attackers .card23 .number, .dad .attackers .card24 .number, .dad .attackers .card25 .number, .dad .attackers .card26 .number, .dad .attackers .card27 .number, .dad .attackers .card28 .number {
  width: 100%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0.5em;
}

.dad .goalkeepers .card1 .number img, .dad .goalkeepers .card2 .number img, .dad .goalkeepers .card3 .number img, .dad .defenders .card4 .number img, .dad .defenders .card5 .number img, .dad .defenders .card6 .number img, .dad .defenders .card7 .number img, .dad .defenders .card8 .number img, .dad .defenders .card9 .number img, .dad .defenders .card10 .number img, .dad .defenders .card11 .number img, .dad .midfielders .card12 .number img, .dad .midfielders .card13 .number img, .dad .midfielders .card14 .number img, .dad .midfielders .card15 .number img, .dad .midfielders .card16 .number img, .dad .midfielders .card17 .number img, .dad .midfielders .card18 .number img, .dad .midfielders .card19 .number img, .dad .midfielders .card20 .number img, .dad .attackers .card21 .number img, .dad .attackers .card22 .number img, .dad .attackers .card23 .number img, .dad .attackers .card24 .number img, .dad .attackers .card25 .number img, .dad .attackers .card26 .number img, .dad .attackers .card27 .number img, .dad .attackers .card28 .number img {
  width: 3.2em;
  margin-top: 1.6em;
}

.dad .goalkeepers .card1 .number .num, .dad .goalkeepers .card2 .number .num, .dad .goalkeepers .card3 .number .num, .dad .defenders .card4 .number .num, .dad .defenders .card5 .number .num, .dad .defenders .card6 .number .num, .dad .defenders .card7 .number .num, .dad .defenders .card8 .number .num, .dad .defenders .card9 .number .num, .dad .defenders .card10 .number .num, .dad .defenders .card11 .number .num, .dad .midfielders .card12 .number .num, .dad .midfielders .card13 .number .num, .dad .midfielders .card14 .number .num, .dad .midfielders .card15 .number .num, .dad .midfielders .card16 .number .num, .dad .midfielders .card17 .number .num, .dad .midfielders .card18 .number .num, .dad .midfielders .card19 .number .num, .dad .midfielders .card20 .number .num, .dad .attackers .card21 .number .num, .dad .attackers .card22 .number .num, .dad .attackers .card23 .number .num, .dad .attackers .card24 .number .num, .dad .attackers .card25 .number .num, .dad .attackers .card26 .number .num, .dad .attackers .card27 .number .num, .dad .attackers .card28 .number .num {
  width: 5.5em;
  height: 4.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.2em;
  margin-left: -0.5em;
}

.dad .goalkeepers .card1 .number .num h1, .dad .goalkeepers .card2 .number .num h1, .dad .goalkeepers .card3 .number .num h1, .dad .defenders .card4 .number .num h1, .dad .defenders .card5 .number .num h1, .dad .defenders .card6 .number .num h1, .dad .defenders .card7 .number .num h1, .dad .defenders .card8 .number .num h1, .dad .defenders .card9 .number .num h1, .dad .defenders .card10 .number .num h1, .dad .defenders .card11 .number .num h1, .dad .midfielders .card12 .number .num h1, .dad .midfielders .card13 .number .num h1, .dad .midfielders .card14 .number .num h1, .dad .midfielders .card15 .number .num h1, .dad .midfielders .card16 .number .num h1, .dad .midfielders .card17 .number .num h1, .dad .midfielders .card18 .number .num h1, .dad .midfielders .card19 .number .num h1, .dad .midfielders .card20 .number .num h1, .dad .attackers .card21 .number .num h1, .dad .attackers .card22 .number .num h1, .dad .attackers .card23 .number .num h1, .dad .attackers .card24 .number .num h1, .dad .attackers .card25 .number .num h1, .dad .attackers .card26 .number .num h1, .dad .attackers .card27 .number .num h1, .dad .attackers .card28 .number .num h1 {
  font-size: 4rem;
  color: #eeeeee;
}

.dad .goalkeepers .card1 .info, .dad .goalkeepers .card2 .info, .dad .goalkeepers .card3 .info, .dad .defenders .card4 .info, .dad .defenders .card5 .info, .dad .defenders .card6 .info, .dad .defenders .card7 .info, .dad .defenders .card8 .info, .dad .defenders .card9 .info, .dad .defenders .card10 .info, .dad .defenders .card11 .info, .dad .midfielders .card12 .info, .dad .midfielders .card13 .info, .dad .midfielders .card14 .info, .dad .midfielders .card15 .info, .dad .midfielders .card16 .info, .dad .midfielders .card17 .info, .dad .midfielders .card18 .info, .dad .midfielders .card19 .info, .dad .midfielders .card20 .info, .dad .attackers .card21 .info, .dad .attackers .card22 .info, .dad .attackers .card23 .info, .dad .attackers .card24 .info, .dad .attackers .card25 .info, .dad .attackers .card26 .info, .dad .attackers .card27 .info, .dad .attackers .card28 .info {
  background: #2c2c2c;
  width: 100%;
  height: 7em;
  position: absolute;
  bottom: 0;
  z-index: 10;
  text-align: center;
  color: #eeeeee;
  padding: 0.1em 0;
}

.dad .goalkeepers .card1 .info h2, .dad .goalkeepers .card2 .info h2, .dad .goalkeepers .card3 .info h2, .dad .defenders .card4 .info h2, .dad .defenders .card5 .info h2, .dad .defenders .card6 .info h2, .dad .defenders .card7 .info h2, .dad .defenders .card8 .info h2, .dad .defenders .card9 .info h2, .dad .defenders .card10 .info h2, .dad .defenders .card11 .info h2, .dad .midfielders .card12 .info h2, .dad .midfielders .card13 .info h2, .dad .midfielders .card14 .info h2, .dad .midfielders .card15 .info h2, .dad .midfielders .card16 .info h2, .dad .midfielders .card17 .info h2, .dad .midfielders .card18 .info h2, .dad .midfielders .card19 .info h2, .dad .midfielders .card20 .info h2, .dad .attackers .card21 .info h2, .dad .attackers .card22 .info h2, .dad .attackers .card23 .info h2, .dad .attackers .card24 .info h2, .dad .attackers .card25 .info h2, .dad .attackers .card26 .info h2, .dad .attackers .card27 .info h2, .dad .attackers .card28 .info h2 {
  font-weight: 300;
  font-size: 1.1rem;
}

.dad .goalkeepers .card1 .info h3, .dad .goalkeepers .card2 .info h3, .dad .goalkeepers .card3 .info h3, .dad .defenders .card4 .info h3, .dad .defenders .card5 .info h3, .dad .defenders .card6 .info h3, .dad .defenders .card7 .info h3, .dad .defenders .card8 .info h3, .dad .defenders .card9 .info h3, .dad .defenders .card10 .info h3, .dad .defenders .card11 .info h3, .dad .midfielders .card12 .info h3, .dad .midfielders .card13 .info h3, .dad .midfielders .card14 .info h3, .dad .midfielders .card15 .info h3, .dad .midfielders .card16 .info h3, .dad .midfielders .card17 .info h3, .dad .midfielders .card18 .info h3, .dad .midfielders .card19 .info h3, .dad .midfielders .card20 .info h3, .dad .attackers .card21 .info h3, .dad .attackers .card22 .info h3, .dad .attackers .card23 .info h3, .dad .attackers .card24 .info h3, .dad .attackers .card25 .info h3, .dad .attackers .card26 .info h3, .dad .attackers .card27 .info h3, .dad .attackers .card28 .info h3 {
  font-weight: 500;
  font-size: 1.3rem;
}

.dad .goalkeepers .card1 .info a button, .dad .goalkeepers .card2 .info a button, .dad .goalkeepers .card3 .info a button, .dad .defenders .card4 .info a button, .dad .defenders .card5 .info a button, .dad .defenders .card6 .info a button, .dad .defenders .card7 .info a button, .dad .defenders .card8 .info a button, .dad .defenders .card9 .info a button, .dad .defenders .card10 .info a button, .dad .defenders .card11 .info a button, .dad .midfielders .card12 .info a button, .dad .midfielders .card13 .info a button, .dad .midfielders .card14 .info a button, .dad .midfielders .card15 .info a button, .dad .midfielders .card16 .info a button, .dad .midfielders .card17 .info a button, .dad .midfielders .card18 .info a button, .dad .midfielders .card19 .info a button, .dad .midfielders .card20 .info a button, .dad .attackers .card21 .info a button, .dad .attackers .card22 .info a button, .dad .attackers .card23 .info a button, .dad .attackers .card24 .info a button, .dad .attackers .card25 .info a button, .dad .attackers .card26 .info a button, .dad .attackers .card27 .info a button, .dad .attackers .card28 .info a button {
  background: rgba(128, 128, 128, 0.363);
  border: none;
  font-size: 1.4rem;
  padding: 0.1em 1.5em;
  margin-top: 0.2em;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #eeeeee;
}

.dad .goalkeepers .card1 .info a button:hover, .dad .goalkeepers .card2 .info a button:hover, .dad .goalkeepers .card3 .info a button:hover, .dad .defenders .card4 .info a button:hover, .dad .defenders .card5 .info a button:hover, .dad .defenders .card6 .info a button:hover, .dad .defenders .card7 .info a button:hover, .dad .defenders .card8 .info a button:hover, .dad .defenders .card9 .info a button:hover, .dad .defenders .card10 .info a button:hover, .dad .defenders .card11 .info a button:hover, .dad .midfielders .card12 .info a button:hover, .dad .midfielders .card13 .info a button:hover, .dad .midfielders .card14 .info a button:hover, .dad .midfielders .card15 .info a button:hover, .dad .midfielders .card16 .info a button:hover, .dad .midfielders .card17 .info a button:hover, .dad .midfielders .card18 .info a button:hover, .dad .midfielders .card19 .info a button:hover, .dad .midfielders .card20 .info a button:hover, .dad .attackers .card21 .info a button:hover, .dad .attackers .card22 .info a button:hover, .dad .attackers .card23 .info a button:hover, .dad .attackers .card24 .info a button:hover, .dad .attackers .card25 .info a button:hover, .dad .attackers .card26 .info a button:hover, .dad .attackers .card27 .info a button:hover, .dad .attackers .card28 .info a button:hover {
  background: #5a5a5a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #181818;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

.scrollTop {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  width: 3.8em;
  height: 3.8em;
  background: rgba(80, 80, 80, 0.534);
  border-radius: 5%;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 100;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
  bottom: 1.5em;
}

.loader {
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020202;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: circleScale 1s infinite;
          animation: circleScale 1s infinite;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader img {
  width: 10em;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes circleScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circleScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2em 0 3em;
  position: absolute;
}

nav .logo {
  background: #790a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo a {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  font-style: italic;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 1em;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav ul li a:hover {
  color: #804747;
}

nav .menu-btn span {
  color: #fff;
  font-size: 2.2em;
  cursor: pointer;
  display: none;
}

nav input[type="checkbox"] {
  display: none;
}

.slide {
  width: 100%;
  height: 29em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(20, 20, 20, 0.6))), url(./images/backgr1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(20, 20, 20, 0.6)), url(./images/backgr1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slide h1 {
  font-size: 3.4rem;
  color: #dbdbdb;
  font-weight: 100;
  border-bottom: 2px solid #752828;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

.history {
  background: red;
  width: 100%;
  padding-bottom: 2em;
  margin-top: 3em;
  background-image: url(./images/history_background1.jpg);
  background-position: top;
  background-size: cover;
}

.history .article1 {
  max-width: 50em;
  height: 100%;
  background: #2b2b2b;
  margin: auto;
  padding: 0 1.2em;
  color: #ffffff;
  font-weight: 200;
  font-size: 1.1rem;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}

.history .article1 h2 {
  text-align: center;
  font-weight: 300;
  padding: 0.6em 0;
  letter-spacing: 2px;
}

.history .article1 img {
  width: 5em;
  margin-bottom: .5em;
}

.cont-section {
  background: #303030;
  width: 100%;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45em;
}

.cont-section .contact-box {
  background: #dbdbdb;
  -webkit-box-shadow: rgba(139, 139, 139, 0.3) 0px 1px 2px 0px, rgba(165, 165, 165, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(139, 139, 139, 0.3) 0px 1px 2px 0px, rgba(165, 165, 165, 0.15) 0px 2px 6px 2px;
  color: #000;
  width: 40em;
  height: 95%;
  border-radius: 0.5em;
  margin-top: 1em;
}

.cont-section .contact-box .topSide {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-section .contact-box .topSide .topBox {
  width: 40%;
  height: 4.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3em;
}

.cont-section .contact-box .topSide .topBox input {
  width: 100%;
  height: 4em;
  border-radius: .3em;
  border: none;
  padding: 0 0.5em;
  font-size: 1.2rem;
  outline: none;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cont-section .contact-box .topSide .topBox p {
  margin-left: .1em;
}

.cont-section .contact-box .topSide .topBox p span {
  color: red;
}

.cont-section .contact-box .bottomSide {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-section .contact-box .bottomSide .bottomBox {
  width: 85%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont-section .contact-box .bottomSide .bottomBox input {
  width: 100%;
  height: 4.3em;
  border-radius: .3em;
  border: none;
  padding: 0 0.5em;
  font-size: 1.2rem;
  outline: none;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cont-section .contact-box .bottomSide .bottomBox p {
  margin-left: .1em;
}

.cont-section .contact-box .bottomSide .bottomBox p span {
  color: red;
}

.cont-section .contact-box .bottomSide button {
  width: 85%;
  height: 12%;
  border: none;
  background: #751a1a;
  border-radius: 1em;
  color: #f2f2f2;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 300;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cont-section .contact-box .bottomSide button:hover {
  background: #5c1414;
}

.cont-section .contact-box .bottomSide #details {
  height: 6em;
}

.cont-section .contact-box .bottomSide #details #details-inpt {
  height: 5.5em;
}

.newsDiv {
  background: #000;
  width: 100%;
  height: 21em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsDiv .news {
  width: 25%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.newsDiv .news .newsIn {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.newsDiv .news .newsIn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.newsDiv .news p {
  position: absolute;
  bottom: 2em;
  left: 0.8em;
  color: #e7e7e7;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.newsDiv .news p span {
  font-size: 2rem;
  font-weight: 400;
}

.newsDiv .newsIn1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.027)), to(rgba(0, 0, 0, 0.8))), url(./images/chakve.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.027), rgba(0, 0, 0, 0.8)), url(./images/chakve.jpg);
}

.newsDiv .newsIn2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.027)), to(rgba(0, 0, 0, 0.8))), url(./images/vili.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.027), rgba(0, 0, 0, 0.8)), url(./images/vili.jpg);
}

.newsDiv .newsIn3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.027)), to(rgba(0, 0, 0, 0.8))), url(./images/xvichanews.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.027), rgba(0, 0, 0, 0.8)), url(./images/xvichanews.jpg);
}

.newsDiv .newsIn4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.027)), to(rgba(0, 0, 0, 0.8))), url(./images/mamardnews.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.027), rgba(0, 0, 0, 0.8)), url(./images/mamardnews.jpg);
}

.someText1 {
  background: #181818;
  width: 100%;
  height: 9em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.someText1 h2 {
  color: #eeeeee;
  font-weight: 300;
  border-bottom: 1px solid #4b4b4b;
}

.someText1 span {
  color: #eeeeee;
  font-size: 3rem;
}

.bla {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: url(./images/army1.jpg);
  background-position: center;
  background-size: cover;
  padding: 1em 0;
}

.bla a {
  text-decoration: none;
}

.bla a .text {
  background: #551717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8em 2em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bla a .text:hover {
  background: #661717;
}

.bla a .text p {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}

.bla .maincontainer {
  position: relative;
  width: 22em;
  height: 30em;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  background: #0f0f0f;
  border-radius: 3em;
}

.bla .maincontainer:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.bla .thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

.bla .thecard .thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-position: center;
  background-size: cover;
}

.bla .thecard .theback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-position: center;
  background-size: cover;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.bla .thecard .thefront1 {
  background-image: url(./images/0006.png);
}

.bla .thecard .theback1 {
  background-image: url(./images/000555.png);
}

.bla .thecard .thefront2 {
  background-image: url(./images/00033.png);
}

.bla .thecard .theback2 {
  background-image: url(./images/0002.png);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.uniformBottom {
  width: 100%;
  background: #181818;
  height: 4em;
}

.gamesDiv {
  width: 100%;
  height: 18em;
  background: #645151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gamesDiv .games1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.027)), to(rgba(0, 0, 0, 0.8))), url(./images/game.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.027), rgba(0, 0, 0, 0.8)), url(./images/game.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamesDiv .games1 .inGame {
  width: 60%;
  height: 55%;
  background: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gamesDiv .games1 .inGame .div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.gamesDiv .games1 .inGame .div1 img {
  width: 6em;
  height: 90%;
}

.gamesDiv .games1 .inGame .div1 h1 {
  color: #fff;
  font-size: 2rem;
}

.gamesDiv .games1 .inGame .div2 {
  display: block;
  margin-top: 1em;
  text-align: center;
  color: #fff;
}

.gamesDiv .games1 .inGame .div2 h1 {
  font-size: 1.8rem;
  font-weight: 300;
}

.gamesDiv .fifa {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #dfdfdf;
}

.gamesDiv .fifa .fif {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 15%;
  background: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamesDiv .fifa .fif h2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.gamesDiv .fifa .fif h2 span {
  font-weight: 700;
  font-size: 1.5rem;
}

.gamesDiv .fifa .rank {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
  background: #111111;
  color: #dfdfdf;
  border-top: 0.1px solid #2b2b2b;
}

.gamesDiv .fifa .rank .divdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamesDiv .fifa .rank .divdiv img {
  width: 3em;
  height: 2em;
  margin: 0 2em;
}

.gamesDiv .fifa .rank h1, .gamesDiv .fifa .rank h3 {
  font-size: 1.3rem;
  font-weight: 300;
}

.gamesDiv .fifa .rank h2 {
  font-size: 1.3rem;
  font-weight: 300;
}

.footer {
  background: #090909;
  width: 100%;
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3em 0;
}

.footer .fut {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .fut1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 0.2px solid #4b4b4b;
}

.footer .fut1 .top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5em 3em;
}

.footer .fut1 .top h1 {
  background: #790a0a;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  width: 2.2em;
}

.footer .fut1 .top img {
  margin-top: 1em;
  width: 4em;
}

.footer .fut1 .down {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
}

.footer .fut1 .down .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .fut1 .down .links ul li {
  padding: 0 0.8em;
  list-style: none;
  border-right: 0.5px solid #777777;
}

.footer .fut1 .down .links ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #e0e0e0;
}

.footer .fut1 .down .cc {
  margin-top: 2em;
  padding: 0 0.8em;
  color: gray;
}

.footer .fut2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .fut2 iframe {
  width: 80%;
  height: 80%;
}

.footer .fut2 .tel {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .fut2 .tel .both {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.5em;
  color: #d8d8d8;
  text-decoration: none;
}

.footer .fut2 .tel .both span {
  margin-right: 1em;
}

.footer .fut2 .tel .first {
  border-right: 0.2px solid #4b4b4b;
}

.footer .fut3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 0.2px solid #4b4b4b;
  padding: 0 2em;
}

.footer .fut3 .about {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dfdfdf;
}

.footer .fut3 .about h2 {
  margin-bottom: 1em;
}

.footer .fut3 .bottom {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #dfdfdf;
}

.footer .fut3 .bottom .fab {
  padding: 0.3em;
  font-size: 1.3rem;
  margin: 1em 0.2em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.footer .fut3 .bottom .fab:hover {
  color: brown;
}

.dad {
  width: 100%;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em 0;
}

.dad .banner {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  height: 10vh;
  letter-spacing: 0.1em;
  color: #eeeeee;
  border-bottom: 1px solid #4b4b4b;
  border-top: 1px solid #4b4b4b;
  text-align: center;
}

.dad .who h2 {
  color: #eeeeee;
  font-weight: 200;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #4b4b4b;
  padding: .5em 0;
}

.dad .goalkeepers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 0;
  border-bottom: 1px solid #4b4b4b;
}

.dad .goalkeepers .card {
  margin: .8em 1em;
}

.dad .who2 h2 {
  color: #eeeeee;
  font-weight: 200;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #4b4b4b;
  padding: .5em 0;
}

.dad .defenders {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 0;
  border-bottom: 1px solid #4b4b4b;
}

.dad .defenders .card {
  margin: .8em 1em;
}

.dad .who3 h2 {
  color: #eeeeee;
  font-weight: 200;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #4b4b4b;
  padding: .5em 0;
}

.dad .midfielders {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 0;
  border-bottom: 1px solid #4b4b4b;
}

.dad .midfielders .card {
  margin: .8em 1em;
}

.dad .who4 h2 {
  color: #eeeeee;
  font-weight: 200;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #4b4b4b;
  padding: .5em 0;
}

.dad .attackers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 0;
  border-bottom: 1px solid #4b4b4b;
}

.dad .attackers .card {
  margin: .8em 1em;
}

.infoTop {
  height: 4em;
}

.infoDad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.5em 0.5em;
}

.infoDad .table {
  width: 100%;
  border-collapse: collapse;
  color: #b6b6b6;
}

.infoDad .table th, .infoDad .table td {
  padding: 1em 0.2em;
  border: 1px solid #b8b8b8;
  text-align: center;
  font-size: 1rem;
}

.infoDad .table th {
  background: #141414;
}

.infoDad .table tbody tr:nth-child(even) {
  background: #222222;
}

.container {
  background: #1d1d1d;
  width: 100%;
  height: 30em;
  margin: auto;
  margin-top: 3em;
  color: #f2f2f2;
}

.container .title {
  background: #1d1d1d;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2em;
}

.container .title h2 {
  font-size: 2rem;
  font-weight: 300;
}

.container .review {
  background: #292929;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2em 0;
}

.container .review .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .review .img-container img {
  width: 15em;
  border-radius: 50%;
}

.container .review h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.container .review p {
  font-size: 1.2rem;
}

.container .review .button-container {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .review .button-container .btn {
  font-size: 1rem;
  border: none;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 0 3em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.container .review .button-container .btn:hover {
  background: #474747;
}

@media (max-width: 768px) {
  .gamesDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: cyan;
    height: 30em;
    margin-top: 19em;
  }
}

@media (max-width: 425px) {
  .gamesDiv {
    margin-top: 60em;
  }
  .gamesDiv .games1 .inGame {
    width: 75%;
  }
}

@media (max-width: 885px) {
  .gamesDiv .games1 .inGame .div1 img {
    width: 4.8em;
    height: 90%;
  }
}

@media (max-width: 500px) {
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .bla {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .someText1 {
    margin-top: 1em;
    height: 7em;
  }
  .bla .maincontainer {
    margin: 1em 0;
  }
}

@media (max-width: 425px) {
  .someText1 {
    height: 6em;
  }
  .bla .maincontainer {
    width: 20em;
    height: 28em;
  }
}

@media (max-width: 768px) {
  .newsDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .newsDiv .news {
    width: 50%;
  }
  .newsDiv, .dad {
    pointer-events: none;
  }
}

@media (max-width: 425px) {
  .newsDiv .news {
    width: 100%;
  }
}

@media (max-width: 1086px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .fut1 .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
  }
  .footer .fut1 .top h1 {
    height: 1.2em;
    margin-right: 1em;
  }
  .footer .fut1 .down .links ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .footer .fut1 .down .links ul li a {
    font-size: 0.8rem;
  }
  .footer .fut2 .tel .both {
    font-size: 0.8rem;
  }
  .footer .fut3 .about {
    font-size: 0.8rem;
  }
}

@media (max-width: 1000px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .menu-btn span {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 0;
    left: -60%;
    background: #1b1b1b;
    opacity: 0.99;
    width: 60%;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100vh;
    z-index: 102;
  }
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8%;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav #click:checked ~ ul {
    left: 0;
  }
  nav #click:checked ~ ul li a {
    margin-left: 0px;
  }
}

@media (max-width: 1124px) {
  nav ul li {
    margin: 1em 0.5em;
  }
}
/*# sourceMappingURL=style.css.map */